/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[Rr]ecordings/

.vs/
.idea/

*.csproj
*.unityproj
*.sln
*.slnx
*.pidb
*.booproj
*.svd
*.user
*.userprefs
*.opendb
*.opensdf
*.sdf
*.cache
*.tmp
*.bak

*.apk
*.aab
*.unitypackage
sysinfo.txt
